#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100vh;
  width: 100vw;
}

#app {
  .ant-table-title {
    display: flex;
    justify-content: space-between;

    .table-title-left {
      display: flex;
    }

    .create-button {
      margin: 0 10px;
    }
  }

  .ant-table-footer {
    display: flex;
    justify-content: right;

  }

  .custom-page-header {
    background-color: white;
    padding: 16px 0px;
    border-radius: 4px;

    .page-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 8px;
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.85);
    }

    .page-description {
      color: rgba(0, 0, 0, 0.45);
      margin-bottom: 0;
    }
  }

  .horizontal-header {
    padding: 0;
    margin-bottom: 10px;
  }

  .page-title-conter {
    display: flex;
    justify-content: space-between;
  }
}