.custom-page-header {
    background-color: white;
    padding: 16px 0px;
    border-radius: 4px;
    .page-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 8px;
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.85);
    }

    .page-description {
      color: rgba(0, 0, 0, 0.45);
      margin-bottom: 0;
    }
  }